{% load static %}

<section id="historia" class="home-comienzos">

    <div class="comienzos-carousel">

        <div class="comienzos-slide activo">

            <img
                class="comienzos-bg"
                src="{% static 'web/img/backgrounds/bg-black.png' %}"
                alt="Nuestros comienzos">

            <div class="comienzos-contenido">

                <img
                    class="comienzos-titulo"
                    src="{% static 'web/img/titulos/nuestroscomienzos.png' %}"
                    alt="Nuestros comienzos">

                <div class="comienzos-linea"></div>

               <div class="comienzos-texto">

               <p>
                El Club Social y Deportivo Gregoriano nació hace más de una década
                en el corazón del barrio Gregorio Mayo, lugar del que toma con orgullo
                su nombre.
             </p>

             <p>
                Su fundador, Omar Gutiérrez, inició este proyecto como una escuela
                con el objetivo de difundir los deportes de lucha y brindar nuevas
                oportunidades a niños y jóvenes.
            </p>

            <p>
                Con esfuerzo, compromiso y una enorme pasión, el proyecto comenzó
                a crecer y hacerse conocido en toda la región.
            </p>

            </div>
            </div>

        </div>


        <div class="comienzos-slide">

            <img
                class="comienzos-bg"
                  src="{% static 'web/img/backgrounds/bg-black.png' %}"
                alt="Crecimiento del RFC">

            <div class="comienzos-contenido">

                <img
                    class="comienzos-titulo"
                    src="{% static 'web/img/titulos/crecimiento.png' %}"
                    alt="Crecimiento del RFC">

                <div class="comienzos-linea"></div>

                <div class="comienzos-texto">

                   <p>
                    Después de recorrer distintos espacios de la ciudad,
                    el proyecto encontró su lugar definitivo en el barrio
                    Gregorio Mayo.
                </p>

                <p>
                    Allí comenzaron a incorporarse nuevas disciplinas como
                    Kickboxing, MMA, Boxeo, Jiu-Jitsu y Muay Thai,
                    consolidando al RFC como un referente de los deportes de combate.
                </p>

                </div>

            </div>

        </div>


        <div class="comienzos-slide">

            <img
                class="comienzos-bg"
                  src="{% static 'web/img/backgrounds/bg-black.png' %}"
                alt="Rawson Fight Club">

            <div class="comienzos-contenido">

                <img
                    class="comienzos-titulo"
                    src="{% static 'web/img/titulos/masqueunclub.png' %}"
                    alt="RFC actualidad">

                <div class="comienzos-linea"></div>

                <div class="comienzos-texto">
                    <p>
                       El RFC nació con una fuerte impronta social.
                       A través del deporte brinda oportunidades, contención y formación a cientos de jóvenes de nuestra ciudad.
                       Hoy más de 200 personas forman parte de esta gran familia.
                    </p>
                </div>

            </div>

        </div>


        <div class="comienzos-indicadores">

            <button class="comienzos-indicador activo" data-index="0"></button>
            <button class="comienzos-indicador" data-index="1"></button>
            <button class="comienzos-indicador" data-index="2"></button>

        </div>

    </div>

</section>