  {% load static %}

 <section id="galeria" class="home-galeria">

        <div class="container">

            <div class="section-title">
              <img
                    class="entrenadores-titulo"
                    src="{% static 'web/img/titulos/galeria.png' %}"
                    alt="Nuestros comienzos">
            </div>

            <div class="home-galeria-grid">

                {% for foto in fotos_galeria %}

                    <div class="home-galeria-item">

                        <img
                            class="foto-galeria"
                            src="{{ foto.imagen.url }}" 
                            alt="Galería Rawson Fight Club">

                    </div>

                {% endfor %}

            </div>

        </div>

    </section>