{% load static %}


<section id="referentes" class="home-referentes">

        <div class="container">

             <div class="section-title">
              <img
                    class="entrenadores-titulo"
                    src="{% static 'web/img/titulos/referentes.png' %}"
                    alt="Nuestros comienzos">
            </div>

            <article class="referente-destacado">

                <img
                    src="{% static 'web/img/referentes/rafa.svg' %}"
                    alt="Rafa Proboste">

            </article>

        </div>

    </section>
