.home-galeria{
    padding:90px 0;

    background:
        url("../../img/backgrounds/bg-black.png")
        center / cover no-repeat;
}

.home-galeria-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);

    gap:16px;
}

.home-galeria-item{
    overflow:hidden;

    min-height:280px;
}

.home-galeria-item img{
    width:100%;
    height:100%;

    min-height:280px;

    object-fit:cover;

    display:block;

    cursor:pointer;

    transition:transform .35s ease;
}

.home-galeria-item:hover img{
    transform:scale(1.04);
}