
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
    overflow-x:hidden;
}

/* CARRUSEL */

.hero{ 
    width:100%;
    height:calc(100vh - 70px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;

    overflow:visible;
    background:#0f0f0f;
}

/* NAVBAR */



.navbar{
    display:flex;
    align-items:center;
}

.menu{
    display:flex;
    gap:30px;
    list-style:none;
}

.social{
    margin-left:700px;
    display:flex;
    gap:15px;
}

.social a{
    color:white;
    font-size:24px;
}

.social a:hover{
    color:rgb(255,116,2);
}

.logo{
    margin-right: 40px;
}

.logo img{
    height:60px;
    width:auto;
}

.menu{
    display:flex;
    flex-direction:row;
    gap:30px;
    list-style:none;
}

.menu li{
    list-style: none;
}

.menu a{
    color:rgb(255, 116, 2);
    text-decoration:none;
    font-weight:bold;
}

/* PRESENTACION */

.presentacion{
    height:calc(100vh - 70px - 60px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#111;

}

.presentacion img{
    width: 450px;
    margin-bottom: 20px;
}

.presentacion h1{
    font-size:60px;
    margin-bottom:20px;
}

.presentacion p{
    font-size:22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* CARRUSEL */

.carrusel-container{
    width:100%;
    height:380px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:visible;
}

.slide{
    position:absolute;
    width:460px;
    height:469px;
    border-radius:20px;
    overflow:hidden;
    transition:0.5s ease;
    opacity:0;
    z-index:1;
}

.slide.activo{
    opacity:1;
    transform:translateX(0);
    z-index:3;
}

.slide.anterior{
    opacity:0.35;
    transform:translateX(-350px);
    z-index:2;
}

.slide.siguiente{
    opacity:0.35;
    transform:translateX(350px);
    z-index:2;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

.info{
    position:absolute;
    bottom:0;
    width:100%;
    padding:20px;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,0.9)
    );
}

.info h2{
    font-size:35px;
    margin-bottom:10px;
}

.info p{
    font-size:18px;
}

footer{
    background:#000;
    color:white;
    text-align:center;
    padding:20px;
    font-size:14px;
}

.redes-footer{
    display:none;
}



.flecha{
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,0.7);

    color:white;
    font-size:30px;

    cursor:pointer;

    z-index:10;
}

.flecha:hover{
    background:rgba(255, 116, 2, 0.8);
}

.izquierda{
    left:20px;
}

.derecha{
    right:20px;
}

/* SECCION CONOCENOS */

.conocenos{
    max-width:900px;
    margin:auto;
    padding:50px 20px;
}

.conocenos h1{
    text-align:center;
    margin-bottom:30px;
    font-size:50px;
}

.intro{
    text-align:center;
    font-size:20px;
    margin-bottom:40px;
    color:#ccc;
}

.card-info{
    background:#1a1a1a;
    padding:25px;
    margin-bottom:25px;
    border-radius:15px;
}

.card-info h2{
    color:rgb(255,116,2);
    margin-bottom:15px;
}

.card-info ul{
    list-style:none;
}

.card-info li{
    margin-bottom:10px;
}

.btn-mapa{
    display:inline-block;
    margin-top:15px;
    padding:12px 24px;
    background:rgb(255,116,2);
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.galeria{
    padding:40px 20px;
    text-align:center;
}

.galeria h1{
    font-size:36px;
    margin-bottom:35px;
}

.grid-galeria{
    max-width:1100px;
    margin:0 auto;

    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:25px;
}

.card-galeria{
    height:260px;
    background:#1a1a1a;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}

.card-galeria img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    cursor:pointer;
}


.btn-menu{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:32px;
    cursor:pointer;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    z-index:9999;

    justify-content:center;
    align-items:center;
}

.modal img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}

.cerrar{
    position:absolute;
    top:20px;
    right:30px;
    font-size:50px;
    color:white;
    cursor:pointer;
}

@media (max-width: 768px){

    
     .navbar{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px 20px;
        position:relative;
    }

   .btn-menu{
        display:flex;
        align-items:center;
        justify-content:center;
        width:40px;
        height:40px;
        margin-left:auto;
    }

    .logo img{
    height:40px;
    width:auto;
}


.social{
        display:none;
    }

.redes-footer{
    margin-top:10px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.redes-footer a{
    color:white;
    font-size:30px;
    transition:0.3s;
}

.redes a:hover{
    color:rgb(255,116,2);
}

    .menu{
        display:none;
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:black;
        flex-direction:column;
        align-items:center;
        padding:20px 0;
        gap:15px;
        z-index:100;
    }

    .menu.activo{
        display:flex;
    }

    .menu{
        flex-direction:column;
        align-items:center;
        gap:10px;
    }

    .logo{
        font-size:24px;
    }

    .presentacion{
        height:auto;
        min-height:100vh;
        padding:30px 20px;
    }

    .presentacion img{
        width:280px;
    }

    .presentacion p{
        font-size:18px;
    }

    .carrusel-container{
        height:320px;
    }

    .slide{
        width:280px;
        height:300px;
    }

    .slide.anterior{
        transform:translateX(-120px);
        opacity:0.25;
    }

    .slide.siguiente{
        transform:translateX(120px);
        opacity:0.25;
    }

    .flecha{
        width:40px;
        height:40px;
        font-size:24px;
    }

    .izquierda{
        left:5px;
    }

    .derecha{
        right:5px;
    }

   .grid-galeria{
        grid-template-columns:1fr;
    }

    .card-galeria{
        height:240px;
    }

    .conocenos{
        padding:30px 15px;
    }

    .conocenos h1{
        font-size:36px;
    }
}