{% load static %}
 
<nav class="navbar">

    <div class="container navbar-contenido">

        <a href="{% url 'home' %}" class="logo">
            <img
                src="{% static 'web/img/branding/logonav.png' %}"
                alt="Rawson Fight Club">
        </a>

        <ul class="menu" id="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#entrenadores">Entrenadores</a></li>
            <li><a href="#galeria">Galería</a></li>
            <a href="#historia">Historia</a>
        </ul>

        <div class="social">
            <a href="https://www.instagram.com/rfc_clubgregoriano/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.facebook.com/share/17oW4tDJbC/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

        <button class="btn-menu" id="btn-menu">☰</button>

    </div>

</nav>