{% load static %}

<div class="topbar">
    <div class="container topbar-contenido">

        <img
            src="{% static 'web/img/branding/hacetesocio.png' %}"
            alt="RFC Hacete socio"
            class="topbar-promo">

            <div class="topbar-precio">
            <span class="precio">5999</span>
            <sup>99</sup>
            <span class="mes">x Mes</span>
        </div>

        <div class="topbar-separador"></div>

        <p class="topbar-texto">
            Aprovechá hoy y obtené descuentos exclusivos en todas las actividades,
            eventos y productos.
        </p>

            <img
            src="{% static 'web/img/branding/rfcrabbit.png' %}"
            alt=""
            class="topbar-conejo">


    </div>
</div>