{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Club de Combate{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
</head>

<body>

    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url 'home'%}">Inicio</a></li>
            <li><a href="{% url 'profesores' %}"> Profesores</a></li>
             <li><a href="{% url 'conocenos' %}">Conócenos</a></li>
            <li><a href="{% url 'contactos' %}">Contacto</a></li>
        </ul>
    </nav>
    {% block content %}

    

    <section class="presentacion">
        <h1>Club de Deportes de Contacto RFC</h1>
        <p>Entrenamientos de boxeo, kickboxing y preparación física.</p>
    </section>


    {% endblock %}

    <footer>
        <p>© Club de Combate – Todos los derechos reservados</p>
    </footer>

<script src="{% static 'web/js/script.js' %}"></script>

</body>
</html>