{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RFC - Rawson Fight Club{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/components/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/components/topbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}

</head>

<body>

   {% include "web/components/topbar.html" %}

   {% include "web/components/navbar.html" %}

    {% block content %}{% endblock %}

    <footer>

        <p>© Rawson Fight Club</p>

        <div class="redes-footer">
            <a href="https://www.instagram.com/rfc_clubgregoriano/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/share/17oW4tDJbC/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

    </footer>

    <div id="modal" class="modal">
        <span class="cerrar">&times;</span>
        <img id="imagen-modal" src="" alt="Imagen ampliada">
    </div>

    <script src="{% static 'web/js/script.js' %}"></script>

</body>
</html>
