{% extends "web/base.html" %}
{% load static %}

{% block content %}

<section class="conocenos">

    <h1>Conócenos</h1>

    <p class="lema-conocenos">
        Creando el hábito del guerrero.
    </p>

    <div class="card-info historia-principal">
        <h2>Nuestra historia</h2>

        <p>
            El Club Social y Deportivo Gregoriano nació hace más de una década
            en el corazón del barrio Gregorio Mayo, lugar del que toma con
            orgullo su nombre.
        </p>

        <p>
            Su fundador, Omar Gutiérrez, inició este proyecto como una escuela
            con el objetivo de difundir la práctica de los deportes de lucha y
            brindar nuevas oportunidades a niños y jóvenes de nuestra ciudad.
        </p>

        <p>
            Con mucho esfuerzo, compromiso y tiempo dedicado a la formación
            deportiva y humana, el club comenzó a hacerse conocido a lo largo
            y ancho del país gracias a las hazañas de sus jóvenes atletas.
        </p>
    </div>

    <div class="grid-conocenos">

        <div class="card-info">
            <h2>Logros deportivos</h2>

            <p>
                Entre sus exponentes más destacados se encuentra David Almendra,
                medallista en los Juegos Olímpicos de la Juventud 2018 y en el
                Campeonato Panamericano 2022.
            </p>

            <p>
                También forman parte de esta historia Rafael Proboste, Isaías
                Urquiza y Ariel Proboste, atletas que representaron al club en
                competencias nacionales e internacionales.
            </p>
        </div>

        <div class="card-info">
            <h2>Disciplinas</h2>

            <ul>
                <li>Luchas olímpicas</li>
                <li>Kickboxing</li>
                <li>MMA</li>
                <li>Grappling</li>
            </ul>
        </div>

    </div>

    <div class="card-info">
        <h2>Más que un club</h2>

        <p>
            Una de las características más importantes de este pequeño club de
            barrio es su fuerte impronta social. A través del deporte, el RFC
            brinda contención, oportunidades y acceso a muchísimos jóvenes,
            especialmente a aquellos con menos recursos.
        </p>

        <p>
            Hoy, más de 200 personas, desde los 5 años en adelante, forman parte
            de esta gran familia unida por la pasión por los deportes de combate.
        </p>
    </div>

    <div class="card-info ubicacion">

    <h2> Nuestra casa hoy</h2>

    <p>
        Aunque el Club Social y Deportivo Gregoriano nació en el corazón del
        barrio Gregorio Mayo, hoy continúa creciendo desde su actual sede,
        ubicada en Maestro Martínez 557, Rawson.
    </p>

    <p>
        Allí, más de 200 personas, desde los 5 años en adelante, entrenan,
        aprenden y comparten la pasión por los deportes de combate.
    </p>

    <div class="mapa">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.5016798575807!2d-65.09780789999999!3d-43.3037564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe0156e0960b1647%3A0xeb91c8b83f190087!2sMaestro%20Mart%C3%ADni%20557%2C%20U9103%20Rawson%2C%20Chubut!5e0!3m2!1ses!2sar!4v1781122600268!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <p class="frase-final">
        Más que formar campeones, formamos personas.
    </p>

</section>

{% endblock %}