{% extends "web/base.html" %}
{% load static %}

{% block content %}

<section class="section galeria">

    <div class="container">

        <h1>Galería RFC</h1>


        <div class="galeria-grid">

            {% for foto in fotos %}

                <div class="galeria-card">

                    <img
                        class="foto-galeria"
                        src="{% static 'web/img/galeria/'|add:foto %}"
                        alt="Galería RFC">

                </div>

            {% endfor %}

        </div>

    </div>

</section>



{% endblock %}