{% extends "web/base.html" %}
{% load static %}

{% block content %}

<section class="profesores">


    <section class="carrusel-container">

        {% for profesor in profesores %}

            <div class="slide {% if forloop.first %}activo{% endif %}">
                        <img  class="foto-profesor"
                              src="{% static 'web/img/profesores/'|add:profesor %}" 
                              alt="">
            </div>
            
            <div id="modal" class="modal">
                <span class="cerrar">&times;</span>
                <img id="imagen-modal">
            </div>
        {% endfor %}

            <button class="flecha izquierda">&#10094;</button>
            <button class="flecha derecha">&#10095;</button>
    </section>
 </section>   

{% endblock %}