.topbar{
    position:relative;
    background:var(--naranja-rfc);
    width:100%;
    overflow:hidden;
}

.topbar-contenido{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;

    gap:30px;
    min-height:48px;

    padding:6px 30px;
}

.topbar-promo{
    height: 30px;
    width: auto;    
    display: block;
    flex-shrink: 0;
}

.topbar-texto{
    position: relative;
    font-family:"Inter", sans-serif;
    margin: 0;
    color: white;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    max-width: 520px;
    z-index:3;
}

.topbar-precio{
    font-family:"League Spartan", sans-serif;
    display:flex;
    align-items:center;
    gap:3px;
    transform:translateX(40px);
    color:white;
    white-space:nowrap;
}

.precio{
    font-size:20px;
    font-weight:500;
}

.topbar-precio sup{
    font-size:11px;
    align-self:flex-start;
    margin-top:10px;
}

.topbar-conejo{
    position:absolute;

    right:-25px;
    top:20%;

    transform:translateY(-50%);

    height:180px;
    width:auto;

    opacity:.90;

    z-index:1;

    pointer-events:none;
}

@media (max-width: 768px){

    .topbar-contenido{
        width:100%;
        min-height:48px;

        padding:8px 12px;

        display:flex;
        align-items:center;
        justify-content:center;

        gap:10px;
    }

    .topbar-promo{
        height:22px;
        width:auto;

        max-width:55%;

        object-fit:contain;
        flex-shrink:1;
    }

    .topbar-precio{
        transform:none;   /* MUY IMPORTANTE */

        flex-shrink:0;

        gap:2px;
    }

    .precio{
        font-size:15px;
        white-space:nowrap;
    }

    .topbar-texto{
        display:none;
    }

    .topbar-conejo{
        display:none;
    }
}